{% extends 'base-downmenu.html.twig' %}

{% block title %} Пам'ятки {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/sitesList.css') }}" />
{% endblock %}

{% block customBody %}
    <div class="container">

        {% for item in fanta.currentPageResults %}
            <article class="oneArticle">
                <h2><a href="/sites/show/{{ item.id }}">{{ item.siteNameUa }} | {{ item.siteNameEn }}</a></h2>

                <div class="oneArticle__columnsArea">

                    <div class="oneArticle__columnsArea--image">
                        {% if item.image %}
                            <img src="/uploads/images/sites/{{ item.image }}"/>
                        {% else %}
                            <img src="{{ asset('uploads/images/sites/imageNotFound.png') }}"/>
                        {% endif %}
                    </div>

                    <div class="oneArticle__columnsArea--information">
                        <p>Довгота: <span class="characteristic">{{ item.longitude }}</span></p>
                        <p>Широта: <span class="characteristic">{{ item.latitude }}</span></p>

                        {% if item.height %}
                            <p>Висота над рівнем моря: {{ item.height }}</p>
                        {% else %}
                            <p>Висота над рівнем моря: невідома</p>
                        {% endif %}

                <p>Ери:<br />
                    {% if item.era|length == 0 %}
                        <span>Невідомо</span>
                    {% else %}
                        {% for eraItem in item.era %}
                            <span class="characteristic">{{ eraItem }}</span>
                        {% endfor %}
                    {% endif %}
                </p>

                <p>Періоди:<br />
                    {% if item.period|length == 0 %}
                        <span>Невідомо</span>
                    {% else %}
                        {% for periodItem in item.period %}
                            <span class="characteristic">{{ periodItem }}</span>
                        {% endfor %}
                    {% endif %}
                </p>

                <p>Культури:<br />
                    {% if item.culture|length == 0 %}
                        <span>Невідомо</span>
                    {% else %}
                        {% for cultureItem in item.culture %}
                            <span class="characteristic">{{ cultureItem }}</span>
                        {% endfor %}
                    {% endif %}
                </p>
                </div>
                </div>

                <p class="oneArticle__shortDescription">{{ item.siteShDescUa }}</p>
            </article>

        {% endfor %}

            {% if fanta.currentPageResults == false %}
                <div class="noArticles">
                    <p>Вибачте, у цій категорії ще немає статей!</p>
                </div>
            {% else %}
                <div class="pagination">
                    {{ pagerfanta(fanta, 'twitter_bootstrap4') }}
                </div>
            {% endif %}
    </div>

{% endblock %}