{% extends 'base-downmenu.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/sitesShow.css') }}">
{% endblock %}

{% block customBody %}
    <div class="container">
        <h1>{{ site.siteNameUa }} | {{ site.siteNameEn }}</h1>
        <hr>
        {% if site.image %}
            <img src="/uploads/images/sites/{{ site.image }}" alt="{{ site.siteNameUa }}" />
        {% else %}
            <img src="{{ asset('uploads/images/sites/imageNotFound.png') }}"/>
        {% endif %}
        <hr>

        <div class="characteristics">
            <h2>Характеристики</h2>
            <p>Довгота: {{ site.longitude }}</p>
            <p>Широта: {{ site.latitude }}</p>

            {% if site.height %}
                <p>Висота над рівнем моря: {{ site.height }}</p>
            {% else %}
                <p>Висота над рівнем моря: невідома</p>
            {% endif %}

            <p>Ери:<br />
                {% if site.era|length == 0 %}
                    <span>Невідомо</span>
                {% else %}
                    {% for era in site.era %}
                        {{ era }}
                    {% endfor %}
                {% endif %}
            </p>

            <p>Періоди:<br />
                {% if site.period|length == 0 %}
                    <span>Невідомо</span>
                {% else %}
                    {% for period in site.period %}
                        {{ period }}
                    {% endfor %}
                {% endif %}
            </p>

            <p>Культури:<br />
                {% if site.culture|length == 0 %}
                    <span>Невідомо</span>
                {% else %}
                    {% for culture in site.culture %}
                        {{ culture }}
                    {% endfor %}
                {% endif %}
            </p>
        </div>

        <div class="description">
            <h2>Детальна інформація</h2>
            {{ site.siteDescUa }}
        </div>

    <div id="disqus_thread"></div>
    <script>

        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

        var disqus_config = function () {
        this.page.url = '{{ url('app_sites_show', {'id' : site.id}) }}';
        this.page.identifier = '{{ path('app_sites_show', {'id' : site.id}) }}';
        };

        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://mappedarchaeology.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    </div>
{% endblock %}