{% extends 'base-downmenu.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/articles.css') }}" />
{% endblock %}

{% block customBody %}
    <h1>Статті</h1>

    <div class="articles">
        {% for item in fanta.currentPageResults %}
            <div class="article">
                <div class="article__title"><p>{{ item.title }}</p></div>
                <div class="article__image">
                    <p><img src="/uploads/images/articles/{{ item.image }}" alt="{{ item.title }}" /></p>
                </div>
                <div class="article__authors"><p>{{ item.authors }}</p></div>
                <div class="article__publisher">
                    <p>Видавництво:
                        {% if item.publisher == true %}
                            {{ item.publisher }}
                        {% else %}
                            Немає інформації
                        {% endif %}
                    </p>
                </div>

                <div class="article__year">
                    <p>Рік видання:
                        {% if item.publisher == true %}
                            {{ item.publishedYear }}
                        {% else %}
                            Немає інформації
                        {% endif %}
                    </p>
                </div>

                <div class="article__link">
                    <a href="/library/articles/show/{{ item.id }}">Переглянути</a>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if fanta.currentPageResults == false %}
        <div class="noArticles">
            <p>Вибачте, у цій категорії ще немає статей!</p>
        </div>
    {% else %}
        <div class="pagination">
            {{ pagerfanta(fanta, 'twitter_bootstrap4') }}
        </div>
    {% endif %}
{% endblock %}
