{% extends 'base-downmenu.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/map.css') }}" />
{% endblock %}

{% block customBody %}
    <!-- Map id container -->
    <div id="map" data-sites="{{sites}}"></div>

    <!-- Container with detailed info about the site -->
    <div id="siteInfo">
        <div class="siteInfo-inner"></div>
        <div class="siteInfo__go"></div>
    </div>

    <!-- Container with filters -->
    <div id="siteFilters">
        <div id="siteFilters-sidebar">
            <div class="siteFilters-sidebar__eras">
                <h2>Ери</h2>
                {% for era in eras %}
                    <label class="containerCheckbox eraCheckContainer">{{ era }}
                            <input type="checkbox" class="eraCheckbox" name="era" value="{{ era }}">
                            <span class="checkmark"></span>
                    </label>
                {% endfor %}
                <div class="downUpButton-era">
                    <i class="fas fa-angle-down"></i>
                    <span>Розгорнути</span>
                </div>
            </div>

            <div class="siteFilters-sidebar__periods">
                <h2>Періоди:</h2>
                {% for period in periods %}
                    <label class="containerCheckbox periodCheckContainer">{{ period }}
                        <input type="checkbox" class="periodCheckbox" name="period" value="{{ period }}" />
                        <span class="checkmark"></span>
                    </label>
                {% endfor %}
                <div class="downUpButton-period">
                    <i class="fas fa-angle-down"></i>
                    <span>Розгорнути</span>
                </div>
            </div>

            <div class="siteFilters-sidebar__cultures">
                <h2>Культури:</h2>
                {% for culture in cultures %}
                    <label class="containerCheckbox cultureCheckContainer">{{ culture }}
                        <input type="checkbox" class="cultureCheckbox" name="culture" value="{{ culture }}">
                        <span class="checkmark"></span>
                    </label>
                {% endfor %}
                <div class="downUpButton-culture">
                    <i class="fas fa-angle-down"></i>
                    <span>Розгорнути</span>
                </div>
            </div>
        </div>
        <div id="siteFilters-button"><i class="fas fa-angle-right"></i></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjaoOw8Hcsv_C9CFYtgoLHW1nPlzBb2d4&callback=initMap" async defer></script>
    <script src="{{ asset('/js/maps.js') }}"></script>
{% endblock %}